@page "/editexample"
@page "/editexample/{id:int}"
@using Shared.Entities
@using Shared.Services
@inject IExampleService ExampleService
@rendermode InteractiveAuto

@if(Id == null){    
    <h3>Create Example object</h3>
}
else{

    <h3>Edit @example.Name</h3> 
}


@* Frontendowa cześć Blazor do tworzenia formularzy, 
   które umożliwiają użytkownikom edycję danych *@
<EditForm Model="example" OnSubmit="HandleSubmit"> 
    @*Napis na stronie, żeby użytkownik widział co edytuje *@
    <label>Name</label> 
    @*Metoda Input do wpisywania danej zmiennej dla naszej struktury *@
    <InputText @bind-Value="example.Name">@example.Name</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
    @if(Id != null){
        <button @onclick="DeleteExample" type="button" class="btn btn-danger">Delete</button>
    }

</EditForm>    

@code {
    [Parameter] 
    public int? Id { get; set; }
    Example example { get; set; } = new Example {Name = string.Empty };

    protected override async Task OnParametersSetAsync()
    {
        if(Id != null)
        {
        example = await ExampleService.GetExampleById((int)Id);
        }
    }
    async Task HandleSubmit()
    {
        if(Id == null){
            await ExampleService.AddExample(example);
        }
        else{
            await ExampleService.EditExample((int)Id,example);
        }
    }

    async Task DeleteExample()
    {
        if(Id != null){
            await ExampleService.DeleteExample((int)Id);
        }
    }

}


