@page "/"

@inject ISavingService SavingService
@attribute [StreamRendering(false)] 
@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<h3>List</h3>

@if(savings is null)
{
    <span> Loading... </span>
}
else if(savings.Count == 0)
{
    <span> No Examples... </span>
}

else{
    <RadzenDataGrid Render="@OnRender" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowPaging="true" AllowSorting="true" Data="@savings" TItem="SavingEntity">
        <Columns>
            <RadzenDataGridColumn TItem="SavingEntity" Property="Name" Title="Name" />
            <RadzenDataGridColumn TItem="SavingEntity" Property="Category" Title="Category" />
            <RadzenDataGridColumn TItem="SavingEntity" Property="Amount" Title="Amount" />
            <RadzenDataGridColumn TItem="SavingEntity" Property="Date" Title="Date">
                <Template Context="saving">@saving.Date.ToShortDateString()</Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

<CreateSavingButton/>


@code {
    List<SavingEntity>? savings = null;

    protected override async Task OnInitializedAsync(){
        savings = await SavingService.GetAllExamples();
    }

    void OnRender(DataGridRenderEventArgs<SavingEntity> args)
    {
        if (args.FirstRender)
        {
            args.Grid.Sorts.Add(new SortDescriptor() { Property = "Category", SortOrder = SortOrder.Ascending });
            args.Grid.Sorts.Add(new SortDescriptor() { Property = "Amount", SortOrder = SortOrder.Ascending });
            args.Grid.Sorts.Add(new SortDescriptor() { Property = "Date", SortOrder = SortOrder.Ascending });
        }
    }
}