@inject NavigationManager NavigationManager
@rendermode InteractiveServer 


@* Tutaj bootstrap btn btn...*@
<button @onclick="CreateSaving" class="btn btn-primary">Create</button>

@code{

     void CreateSaving(){
        NavigationManager.NavigateTo("/edit-saving");
    }
}